:root{
    --green:#00ff00;
    --white:#ffffff;
    --black:#000000;
    --fontColor:var(--black);
    --fontColor: var(--green);
    --bg:var(--black);
    --bg:var(--green);

}
*{
     font-family: monospace;
} 

body{
   background-color: var(--bg);
}
ul{
font-family: Helvetica;
}
li{
    list-style: circle;
}
.list{
    list-style: square;
}
#msg{
    font-family: monospace;
}
.light-theme{
    color: var(--green);
    background-color: var(--black);
}
.dark-theme{
     color: var(--black);
    background-color: var(--green);

}
